.DS_Store
node_modules/
build/
generated/
graph-node/data/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Allowed dot files
!.gitignore
!.prettierrc
!.prettierignore
!.npmrc

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.iml
